<!-- Include plugins necessary for player -->
<!-- core provides basic player support-->
<script src="//player.ooyala.com/static/v4/production/core.min.js"></script>
<!-- bit_wrapper supports HLS-everywhere and Dash support -->
<script src="//player.ooyala.com/static/v4/production/video-plugin/bit_wrapper.min.js"></script>
<!-- main_html5 support browser supported video formats -->
<script src="//player.ooyala.com/static/v4/production/video-plugin/main_html5.min.js"></script>
<!-- osmf_flash supports Flash based video playback using Adobe's OSMF library -->
<script src="//player.ooyala.com/static/v4/production/video-plugin/osmf_flash.min.js"></script>
<!-- html5-skin supports the basic player UI -->
<!-- Player UI Definitions-->
<script src="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.js"></script>
<!-- Include the style sheet used by the player -->
<link rel="stylesheet" href="//player.ooyala.com/static/v4/production/skin-plugin/html5-skin.min.css"/>
<!-- The following div will contain the instantiated player, and is identified by id -->
<div id='container_1515620634' ></div>
<!-- Player parameter modify some basic player behaviors and looks -->
<script>
var embed_code = "{{ media.embed_code }}"
var player_id = " {{ player_id }} "
var rule_id = " {{ rule_id }} "
console.log("&&&&&&&&&&&&&&&&&&&&& ", player_id, embed_code, rule_id)
var playerParam = {
'pcode': rule_id,
'playerBrandingId': player_id,
'autoplay':false,
'loop':false
};
OO.ready(function() {window.pp = OO.Player.create('container_1515620634', embed_code, playerParam);});
</script>
